@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Roboto, sans-serif;
  text-decoration: none;
  outline: none;
  font-weight: normal;
  *:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
}
li {
  list-style: none;
}

// the nav
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  left: 0;
  background: none;
  z-index: 5;
  .nav_title {
    a {
      font-family: Josefin sans, Roboto, sans-serif;
    }
  }

  .nav_links {
    .nav_link_active {
      color: #319795;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0 20px;
    }
  }

  .bars {
    display: none;
  }
}
nav.dark {
  background: #1a202c;
  box-shadow: 0 0 5px #2d3748;
}
nav.light {
  background: #fff;
  box-shadow: 0 0 5px #a0aec079;
}

.container {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }

  .container {
    width: 95%;
  }

  nav {
    .nav_links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      max-width: 250px;
      backdrop-filter: blur(20px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      transform: translate(100%);
      transition: 0.3s;
      li {
        margin: 10px 0;
      }
    }

    .bars {
      display: block;
      z-index: 6;
      div {
        width: 35px;
        height: 3px;
        background: #1e1e1e;
        margin: 5px 0;
        border-radius: 5px;
        transition: 0.3s;
      }
    }

    .nav-active {
      transform: translate(0);
    }
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  nav.dark {
    .bars {
      div {
        background: #fff;
      }
    }
  }
  nav.light {
    .bars {
      div {
        background: #000;
      }
    }
  }
}
